.borderPane {
	-fx-background-color: grey;
	-fx-border-color: black;
}

.box {
	-fx-border-color: black;
	-fx-border-width: 1 1 0 1;
}

.nameField {
	-fx-background-color: grey;
	-fx-font-size: 150.0%;
	-fx-text-fill: white;
}

.textArea {
	-fx-border-radius: 10.0 10.0 10.0 10.0;
	-fx-background-radius: 10.0 10.0 10.0 10.0;
}

.userMessage {
	-fx-border-radius: 10.0 0.0 10.0 10.0;
	-fx-background-radius: 10.0 0.0 10.0 10.0;
	-fx-border-color: #40ff00;
	
	-fx-padding: 10.0;
	-fx-alignment: center-right;
}

.message {
	-fx-border-radius: 0.0 10.0 10.0 10.0;
	-fx-background-radius: 0.0 10.0 10.0 10.0;
	-fx-border-color: #00ffff;
	
	-fx-padding: 10.0;
	-fx-alignment: center-left;
}

.contact {
	-fx-padding: 10.0;
	-fx-font-size: 150.0%;
	-fx-text-fill: white;
}

.contactBox {
	-fx-border-color: black;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}